[bot]
token = ""
admin = 0
stage = "dev"

[redis]
url = "redis://127.0.0.1:6379/0"

[db]
user = "postgres"
password = "postgres"
name = "postgres"
echo = false
host = "127.0.0.1"
echo = false
port = 5444
echo = false
pool_size = 50
max_overflow = 10
